::-webkit-scrollbar{width:0}
body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #dedddd;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 14px;
}
.main {
    height: calc(100% - 95px);
    overflow-y: scroll;
    padding-bottom: 120px;
}
.mainItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dedddd;
    padding: 10px 0 10px 1rem;
    position: relative;
}
.mainItemCenter {
    display: flex;
    flex-direction: column;
}
.mainItemCenter span {
    padding: 5px 0 5px 5px;
}
.money {
    color: #ef7575;
}
.rightNums {
    position: absolute;
    right: 1rem;
}

.selectContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 55px;
    border-top: 1px solid #dedddd;
    z-index: 1;
    background-color: white;
}
.allSelectRadio {
    margin-left: 1rem;
    margin-right: 10px;
}
.deleteText {
    margin-left: 20px;
}
.count {
    width: 100px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    background-color: #ff9800c4;
    color: white;
}